html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.header {
  position: relative;
  background: none;
  min-height: 800px;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(https://i.pinimg.com/avif/1200x/2f/aa/68/2faa684c8d7695b2a19c403dea30ae55.avf)
    no-repeat center center / cover;
  z-index: 0;
  transition:
    filter 0.8s,
    transform 0.8s;
}

.header .container {
  width: 100%;
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
  color: #fff;
  font-size: 100px;
  line-height: 1.2;
  margin: 0 0 40px;
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
}

.article-title {
  font-family: cursive;
}

.en-title {
  color: #fff;
  font-size: 70px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.btn {
  color: #fff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background 0.5s;
}

.nav {
  background: #000;
  min-height: 70px;
  width: 100%;
}

.nav ul {
  min-height: 75px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  min-height: 70px;
  line-height: 80px;
  padding: 0 10px;
  transition: background 0.5s;
}

.btn:hover,
.nav ul li:hover {
  background: #11dbff;
  cursor: pointer;
}

.main .container {
  margin: 80px auto;
}

.main img {
  width: 100%;
  max-width: 430px;
  height: auto;
  display: block;
  float: left;
  padding-right: 50px;
}

.event {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.pinimg.com/1200x/da/7d/d5/da7dd514be3bfaa8e79833aac24d5f0c.jpg)
      center center / cover no-repeat;
  min-height: 600px;
  display: flex;
  align-items: center;
}

.event .container {
  width: 100%;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.event h2 {
  color: #fff;
  text-align: right;
}

.event p {
  color: #fff;
  text-align: right;
}

.event .btn {
  margin: 10px 0 0;
  float: right;
}

a[href*="volunteer"]:hover {
  color: #fcc500;
  background: #000;
}

.footer {
  background: #fcc500;
  padding: 40px 0;
}

.footer p {
  color: #000;
  font-size: 14px;
  margin: 0;
}

@media (max-width: 575px) {
  .header h1 {
    font-size: 80px;
    line-height: 64px;
  }
  .header p {
    font-size: 15px;
  }
  .en-title {
    font-size: 50px;
  }

  .main,
  .event {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .header h1 {
    font-size: 170px;
  }
  .en-title {
    font-size: 100px;
  }
  .header p {
    font-weight: 500;
    font-size: 30px;
  }
  .header::before {
    filter: blur(6px);
    transform: scale(1.05);
  }
}
